{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto">
          <iframe allowtransparency="" frameborder="0" height="500" scrolling="no" src="https://www.strava.com/clubs/822732/latest-rides/0e320802df847ad953a4d13f77aeaca12421e3df?show_rides=true" width="100%"></iframe>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto">
          <iframe allowtransparency="" frameborder="0" height="160" scrolling="no" src="https://www.strava.com/clubs/822732/latest-rides/0e320802df847ad953a4d13f77aeaca12421e3df?show_rides=false" width="100%"></iframe> 
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
